**QU1**

In [1]:
simple_list = [2,3,6]
result = 1
for i in simple_list:
    result= i*i
result

36

**QU2**

In [2]:
simple_list = [(2,5) , (1,2) ,(4,4) , (2,3) , (2,1)]
for i in simple_list :
    simple_list.sort(key =lambda x : x[1])

simple_list

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

**QU3**

In [4]:
d1 = {
      'a': 100 ,
      'b': 200,
      'c': 300
      }

d2 = {
       'a':300,
       'b':200,
       'd':400 
      }
d3 ={}
for key1 , key2 in zip(d1,d2) :
    if key1 == key2:
        d3[key1]= d2[key2] + d1[key1]
    elif key1 != key2 :
        d1_new_key= key1
        d2_new_key= key2
        d3[d1_new_key] = d1.get(key1) 
        d3[d2_new_key] = d2.get(key2) 



d3

{'a': 400, 'b': 400, 'c': 300, 'd': 400}

**QU4**

In [13]:
squared_dict ={}
n = int(input('Enter N : '))
for i in range(1,n):
    squared_dict[i] = i**2
    
squared_dict

{1: 1, 2: 4, 3: 9, 4: 16}

**QU5**

In [56]:
simple_list = [('item1', '12.20') , ('item2','15.10') , ('item3','24.5')]
simple_list.sort(key = lambda x : float(x[1]) , reverse=True)
simple_list

[('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]

**QU6**

In [ ]:
new_set = {1,2,3,0,5,7}
for i in new_set :
        print(i)
qust = 'f'
while qust !='stop' :      
        qust = input('press add for adding a number , del for deleting number from the set , stop to stop')
        if(qust == 'add') : 
            add_number = int(input('Enter the number you want to add :'))
            new_set.add(add_number)
        elif(qust== 'del'):
            delete_nember = int(input('Enter the number you want to delete : '))
            new_set.discard(delete_nember)
           
        
new_set

0
1
2
3
5
7

{1, 2, 3, 5, 7, 77, 88}